<!DOCTYPE html>
<html lang="es">
	<%- include("../template/head") %>

	<body id="page-top">
		<%- include("../components/NavBarComponent") %>

		<section class="page-section bg-light" id="portfolio">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-4">
						<div
							id="carouselExampleIndicators"
							class="carousel slide"
							data-bs-ride="carousel"
						>
							<div class="carousel-inner">
								<div class="carousel-item active">
									<div class="d-block w-100">
										<div style="height: 30rem; max-height: 30rem">
											<img
												src="<%= product.images[0].url %>"
												class="object-fit-contain w-100 h-100"
												alt="..."
											/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-12 mt-sm-5 col-md-8">
						<div class="">
							<div class="card mb-4">
								<div class="card-header py-3">
									<h5 class="mb-0"><%= product.name %></h5>
								</div>
								<div class="card-body">
									<ul class="list-group list-group-flush">
										<li
											class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
										>
											Producto
											<span>$ <%= product.cost %></span>
										</li>
										<li
											class="list-group-item d-flex justify-content-between align-items-center px-0"
										>
											Cantidad
											<span><%= quantity %></span>
										</li>
										<li
											class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
										>
											<div>
												<strong>Monto total</strong>
												<strong>
													<p class="mb-0">(incluye IVA)</p>
												</strong>
											</div>
											<span><strong>$ <%= total %></strong></span>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Credit card form -->
		<section class="page-section bg-light">
			<div class="container d-flex justify-content-center">
				<div class="mb-4">
					<div class="card mb-4">
						<div class="card-header py-3">
							<h5 class="mb-0">Datos de la tarjeta de credito</h5>
						</div>
						<div class="card-body">
							<form
								action="<%= RoutesLinks.client.pay_confirm %>"
								method="post"
							>
								<input
									type="hidden"
									name="productId"
									value="<%= product.id %>"
								/>
								<input type="hidden" name="quantity" value="<%= quantity %>" />
								<div class="row">
									<div class="col-sm-12 col-md-6 mb-3">
										<div class="form-outline">
											<label class="form-label" for="formNameOnCard"
												>Nombre del titular
											</label>
											<input
												type="text"
												id="full-name"
												name="full-name"
												class="form-control"
											/>
										</div>
									</div>
									<div class="col-sm-12 col-md-6 mb-3">
										<div class="form-outline">
											<label class="form-label" for="card-number">
												Número de la tarjeta de crédito
											</label>
											<input
												type="number"
												id="card-number"
												name="card-number"
												class="form-control"
											/>
										</div>
									</div>
								</div>

								<div class="row mb-4">
									<div class="col-sm-12 col-md-6 mb-3">
										<div class="form-outline">
											<label class="form-label" for="formExpiration"
												>Fecha de expiración (MM/AAAA)</label
											>
											<div class="row">
												<div class="col-6">
													<input
														type="number"
														id="expiration-month"
														name="expiration-month"
														class="form-control"
														placeholder="MM"
													/>
												</div>
												<div class="col-6">
													<input
														type="number"
														id="expiration-year"
														name="expiration-year"
														class="form-control"
														placeholder="AAAA"
													/>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-12 col-md-6 mb-3">
										<div class="form-outline">
											<label class="form-label" for="cvv">CVV</label>
											<input
												type="number"
												id="cvv"
												name="cvv"
												class="form-control"
											/>
										</div>
									</div>
								</div>

								<button
									class="btn btn-primary btn-lg btn-block w-100"
									type="submit"
								>
									Pagar
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Credit card form -->

		<%- include("../template/scripts") %>
	</body>
</html>
