<!DOCTYPE html>
<html lang="es">
	<%- include("../template/head") %>

	<body>
		<div class="container">
			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-0">
					<!-- Nested Row within Card Body -->
					<div class="row">
						<div class="col-lg-12">
							<div class="p-5">
								<% if (!email) { %>

								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">Recuperar contraseña</h1>
								</div>
								<form
									class="user"
									action="<%= RoutesLinks.client.recover_password %>"
									method="post"
								>
									<div class="form-group mt-3">
										<input
											type="email"
											class="form-control form-control-user"
											id="email"
											name="email"
											placeholder="Correo electrónico"
											required
										/>
									</div>

									<button
										type="submit"
										class="btn btn-primary btn-user btn-block w-100 mt-3"
									>
										Enviar correo de recuperación
									</button>
								</form>
								<hr />

								<div class="text-center">
									<a class="small" href="<%= RoutesLinks.client.client_login %>"
										>¿Ya tienes una cuenta? inicia sesión</a
									>
								</div>

								<% } else { %>

								<div class="text-center">
									<h1 class="h4 text-gray-900 mb-4">Establecer contraseña</h1>
								</div>
								<div class="form-group mt-3">
									<input
										type="email"
										class="form-control form-control-user"
										id="email"
										name="email"
										placeholder="Correo electrónico"
										required
										readonly
										value="<%= email %>"
									/>
								</div>

								<form
									class="user"
									action="<%= RoutesLinks.client.recover_password %>/<%= token %>"
									method="post"
								>
									<div class="form-group mt-3">
										<input
											type="password"
											class="form-control form-control-user"
											id="password"
											name="password"
											placeholder="Contraseña"
											required
										/>
									</div>

									<div class="form-group mt-3">
										<input
											type="password"
											class="form-control form-control-user"
											id="repeatPassword"
											name="repeatPassword"
											placeholder="Repetir contraseña"
											required
										/>
									</div>

									<button
										type="submit"
										class="btn btn-primary btn-user btn-block w-100 mt-3"
									>
										Enviar correo de recuperación
									</button>
								</form>
								<hr />

								<div class="text-center">
									<a class="small" href="<%= RoutesLinks.client.client_login %>"
										>¿Ya tienes una cuenta? inicia sesión</a
									>
								</div>

								<% } %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<%- include("../template/scripts") %>
</html>
