<!DOCTYPE html>
<html lang="es">
	<%- include("../template/head") %>

	<body>
		<div class="d-flex vh-100">
			<%- include("../components/headerAdmin", {RoutesLinks}) %>
			<main class="container-fluid">
				<div class="d-flex justify-content-between align-items-center">
					<h3 class="mt-3">Añadir producto</h3>

						<a
							class="btn btn-primary"
							href="<%= RoutesLinks.dashboard.productForm() %>"
							>Añadir producto</a
						>
				</div>

				<hr class="" />

				<div class="">
					
					<% if (data) { %>
						<form action="<%= RoutesLinks.dashboard.productFormEdit(data.id) %>" method="post">
						
							<div  class="mt-3">
																<label  class="form-label" for="categoryId">Catergoría</label>
								<select  class="form-select" id="categoryId" name="categoryId">
									<% categories.forEach(element => { %>
							
									<option value="<%= element.id %>" 	<%= element.id == data.categoryId ? "selected" : "" %>><%= element.name %></option>
							
									<% }) %>
								</select>
							</div>
							
							<div class="mt-3">
								
								<label  class="form-label" for="code">Código</label>
								<input
								id="code"
								class="form-control"
									type="text"
									name="code"
									value="<%= data.code %>"
									autofocus
									autocomplete="none"
									placeholder="Código"
								/>
							</div>
						

							<div class="mt-3">
								<label  class="form-label" for="name">Nombre del producto</label>
								<input
								id="name"
								class="form-control"
									type="text"
									name="name"
									value="<%= data.name %>"
									autocomplete="none"
									placeholder="Nombre del producto"
								/>
							</div>

							<div class="mt-3">
								<label  class="form-label" for="cost">Costo</label>
								<input
									id="cost"
									class="form-control"
									type="number"
									name="cost"
									value="<%= data.cost %>"
									autocomplete="none"
									placeholder="Costo"
								/>
							</div>
						
							<textarea
								name="description"
								value="<%= data.description %>"
								cols="30"
								rows="10"
								placeholder="descripcion"
							></textarea>
						
							<input
								type="text"
								name="size"
								value="<%= data.size %>"
								autocomplete="none"
								placeholder="Talla"
							/>
							<input
								type="text"
								name="brand"
								value="<%= data.brand %>"
								autocomplete="none"
								placeholder="Marca"
							/>
							<input type="submit" />
						</form>
						
						<a href="<%= RoutesLinks.dashboard.imageForm(data.id) %>">añadir imagenes</a>
						
						<% } else { %>
						
						<form action="<%= RoutesLinks.dashboard.productFormCreate %>" method="post">
							<select name="categoryId" id="">
								<% categories.forEach(element => { %>
						
								<option value="<%= element.id %>"><%= element.name %></option>
						
								<% }) %>
							</select>
							<input
								type="text"
								name="code"
								value=""
								autofocus
								autocomplete="none"
								placeholder="Codigo"
							/>
						
							<input
								type="text"
								name="name"
								value=""
								autocomplete="none"
								placeholder="Nombre del producto"
							/>
							<input
								type="number"
								name="cost"
								value="0"
								autocomplete="none"
								placeholder="Costo"
							/>
						
							<textarea
								name="description"
								cols="30"
								rows="10"
								value=""
								placeholder="descripcion"
							></textarea>
						
							<input
								type="text"
								name="size"
								value=""
								autocomplete="none"
								placeholder="Talla"
							/>
							<input
								type="text"
								name="brand"
								value=""
								autocomplete="none"
								placeholder="Marca"
							/>
							<input type="submit" />
						</form>
						
						<% } %>
						

				</div>
			</main>
		</div>

		<%- include("../template/scripts") %>
	</body>

</html>



