<!DOCTYPE html>
<html lang="es">
	<%- include("template/head") %>

	<body id="page-top">
		<%- include("components/NavBarComponent") %>

		<section class="page-section bg-light" id="portfolio">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="d-flex overflow-x-auto w-100">
							<% product.images.forEach((i,index) => { %>
							<!--  -->
							<div
								style="
									flex-shrink: 0;
									width: 100%;
									height: 30rem;
									max-height: 30rem;
								"
							>
								<img
									src="<%= i.url %>"
									class="object-fit-contain w-100 h-100"
									alt="..."
								/>
							</div>

							<!--  -->
							<% }) %>
						</div>
					</div>

					<div class="col-sm-12 col-md-6 mt-sm-3">
						<h5 style="font-size: 2rem"><%= product.name %></h5>

						<p><%= product.description %></p>
						<ul class="list-inline mt-2">
							<li>
								<strong>Marca:</strong>
								<%= product.brand %>
							</li>

							<li>
								<strong>Talla:</strong>
								<%= product.size %>
							</li>

							<li>
								<strong>Categoría:</strong>
								<%= product.category.name %>
							</li>
						</ul>

						<!-- valoracion del producto -->

						<!-- todo: cambiar a ya comprado -->

						<% if (userData && oneTransaction && !oneRating) { %>

						<form
							action="<%= RoutesLinks.client.sendRating(product.id ) %>"
							method="post"
							class="mt-2"
						>
							<div class="mb-3">
								<label for="rating" class="form-label"
									>Valora este producto</label
								>

								<select name="rating" id="rating" class="form-control">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>

								<button class="btn btn-secondary w-100 mt-3">
									Enviar calificación
								</button>
							</div>
						</form>

						<% } else { %>

						<div class="d-flex align-items-center">
							<img
								width="32"
								height="32"
								src="https://img.icons8.com/fluency/48/star--v1.png"
								alt="star--v1"
							/>
							<!-- //todo: cambiar por el rating del producto -->
							<span class="mx-2" style="font-size: 1.2rem">
								<% if (product.averageRating > 0) { %>
								<!--  -->
								<%= product.averageRating %> <% } else { %>
								<!--  -->
								Sin calificaciones
								<!--  -->
								<% } %>
							</span>
						</div>

						<% } %>

						<p style="font-size: 2rem">$ <%= product.cost %></p>
						<hr />

						<!-- //todo: colocar el nombre y url del formulario-->

						<form action="<%= RoutesLinks.client.credicard %>" method="post">
							<input type="hidden" name="productId" value="<%= product.id %>" />

							<div class="mb-3">
								<label for="quantity" class="form-label">Cantidad</label>

								<input
									type="number"
									name="quantity"
									id="quantity"
									class="form-control"
									value="1"
								/>
							</div>

							<button class="btn btn-primary w-100">Comprar</button>
						</form>
					</div>
				</div>
			</div>
		</section>

		<%- include("template/scripts") %>
		<script>
			// TODO: hacer validacion de el input number
			// const $quantity = document.querySelector("#quantity");

			// $quantity.addEventListener("change", (e) => {
			// 	const { value: v } = e.target.value;
			// 	const n = v && parseInt(v) > 0 ? parseInt(v) : 1;

			// 	this.value = n;
			// });
		</script>
	</body>
</html>
