<!DOCTYPE html>
<html lang="es">
	<%- include("template/head") %>

	<body id="page-top">
	
		<%- include("components/NavBarComponent") %>

		<!-- Portfolio Grid-->
		<section class="page-section bg-light" id="portfolio">
			<div class="container">
				<div class="text-center">
					<h2 class="section-heading text-uppercase">¡Equípate ya!</h2>
					<h3 class="section-subheading text-muted">
						En nuestro listado de productos encontraras lo que necesitas.
					</h3>
				</div>

				<%- include("components/SearchProductForm", {RoutesLinks,QueryData})%>

				<div class="row">
					<% products.forEach(element => { %>
					<!--  -->
					<% if (element.images[0]) { %>

					<!--  -->
					<%- include("components/ProductItemLanding", {element})%>
					<!--  -->

					<% } %>
					<!--  -->
					<% }) %>
				</div>
			</div>
		</section>

		<!-- Footer-->
		<!-- <footer class="footer py-4">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-4 text-lg-start">
						Copyright &copy; Your Website 2023
					</div>
					<div class="col-lg-4 my-3 my-lg-0">
						<a
							class="btn btn-dark btn-social mx-2"
							href="#!"
							aria-label="Twitter"
							><i class="fab fa-twitter"></i
						></a>
						<a
							class="btn btn-dark btn-social mx-2"
							href="#!"
							aria-label="Facebook"
							><i class="fab fa-facebook-f"></i
						></a>
						<a
							class="btn btn-dark btn-social mx-2"
							href="#!"
							aria-label="LinkedIn"
							><i class="fab fa-linkedin-in"></i
						></a>
					</div>
					<div class="col-lg-4 text-lg-end">
						<a class="link-dark text-decoration-none me-3" href="#!"
							>Privacy Policy</a
						>
						<a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
					</div>
				</div>
			</div>
		</footer> -->

		<!-- Portfolio Modals-->
		<!-- Portfolio item 1 modal popup-->

		<%- include("template/scripts") %>
	</body>
</html>
