<!DOCTYPE html>
<html lang="es">
	<%- include("../../template/head") %>

	<body id="page-top">
		<!-- Navigation-->
		<%- include("../../components/NavBarComponent") %>

		<section class="page-section bg-light" id="portfolio">
			<div class="container">
				<a
					class="text-decoration-none"
					href="<%= RoutesLinks.admin.categoryList %>"
				>
					<div
						class="d-flex flex-column align-items-center justify-content-evenly text-black p-5 rounded shadow-sm m-2 linkToModule"
					>
						<h5 class="mb-3">Categorías</h5>

						<h6><%= categoryCount %></h6>
					</div>
				</a>
				<a
					class="text-decoration-none"
					href="<%= RoutesLinks.admin.productList %>"
				>
					<div
						class="d-flex flex-column align-items-center justify-content-evenly text-black p-5 rounded shadow-sm m-2 linkToModule"
					>
						<h5 class="mb-3">Productos</h5>

						<h6><%= productCount %></h6>
					</div>
				</a>
			</div>
		</section>

		<%- include("../../template/scripts") %>
	</body>
</html>
