<nav
	class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink"
	id="mainNav"
>
	<div class="container">
		<a class="navbar-brand" href="/">
			Odaly Sport
			<!-- <img src="assets/img/navbar-logo.svg" alt="..."				/> -->
		</a>

		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			Menu
			<i class="fas fa-bars ms-1"></i>
		</button>

		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav"></div>

			<!-- perfil usuario -->
			<ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
				<% NavbarLinks.forEach(element => { %>

				<a class="nav-item nav-link" href="<%= element[1] %>">
					<%= element[0] %>
				</a>

				<% }) %> <% if ( userData ) { %>
				<li class="nav-item dropdown no-arrow">
					<a
						class="nav-link dropdown-toggle ml-auto"
						href="#"
						id="userDropdown"
						role="button"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
						<!-- nombre de persona -->
						<span class="mx-2 d-none d-lg-inline text-gray-600 small">
							<%= userData.name %>
						</span>

						<% if (userData.perfilImage) { %>
						<img
							class="img-profile rounded-circle"
							src="<%= userData.perfilImage %>"
							style="max-width: 32px; max-height: 32px"
						/>
						<% } else { %>

						<img
							class="img-profile rounded-circle"
							src="https://pbs.twimg.com/profile_images/423275586249691136/nG7REdEp.jpeg"
							style="max-width: 32px; max-height: 32px"
						/>

						<% } %>

						<!-- nombre de persona -->
						<span class="mx-2 d-inline d-lg-none text-gray-600 small">
							<%= userData.name %>
						</span>
					</a>
					<!-- Dropdown - User Information -->
					<div
						class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
						aria-labelledby="userDropdown"
					>
						<div class="dropdown-divider"></div>

						<a class="dropdown-item" href="<%= RoutesLinks.client.signOut %>">
							<svg
								class="svg-inline--fa fa-right-from-bracket fa-sm fa-fw mr-2 text-gray-400"
								aria-hidden="true"
								focusable="false"
								data-prefix="fas"
								data-icon="right-from-bracket"
								role="img"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 512 512"
								data-fa-i2svg=""
							>
								<path
									fill="currentColor"
									d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
								></path>
							</svg>

							Logout
						</a>
					</div>
				</li>
				<% } %>
			</ul>
		</div>
	</div>
</nav>
