<div class="col-lg-4 col-sm-6 mb-4">
	<!-- Portfolio item 1-->
	<div class="portfolio-item">
		<a href="<%= RoutesLinks.client.product %>/<%= element.id %>">
			<div class="MaxWidthLandingImage">
				<img
					class="object-fit-contain w-100 h-100"
					src="<%= element.images[0].url %>"
					alt="..."
				/>
			</div>
		</a>
		<div class="portfolio-caption">
			<div class="portfolio-caption-subheading text-muted text-left">
				<%= element.name %>
			</div>

			<div class="d-flex align-items-center justify-content-center">
				<img
					width="24"
					height="24"
					src="https://img.icons8.com/fluency/48/star--v1.png"
					alt="star--v1"
				/>
				<!-- //todo: cambiar por el rating del producto -->

				<% if (element.averageRating > 0) { %>
				<span class="mx-2"><%= element.averageRating %> </span>
				<% } else { %>
				<span class="mx-2">Sin calificaciones </span>
				<% } %>
			</div>
			<div class="portfolio-caption-heading"><%= element.cost %> $</div>
		</div>
		<div class="d-grid gap-2">
			<a
				class="btn btn-primary"
				href="<%= RoutesLinks.client.product %>/<%= element.id %>"
			>
				Ver detalles
			</a>
		</div>
	</div>
</div>
