<div class="col-lg-4 col-sm-6 mb-4">
	<!-- Portfolio item 1-->
	<div class="portfolio-item">
		<a href="<%= RoutesLinks.client.product %>/<%= element.id %>">
			<div class="MaxWidthLandingImage">
				<img
					class="object-fit-contain w-100 h-100"
					src="<%= element.images[0].url %>"
					alt="..."
				/>
			</div>
		</a>
		<div class="portfolio-caption">
			<div class="portfolio-caption-subheading text-muted text-left">
				<%= element.name %>
			</div>
			<div class="portfolio-caption-heading"><%= element.cost %> $</div>
		</div>
		<div class="d-grid gap-2">
			<a
				class="btn btn-primary"
				href="<%= RoutesLinks.client.product %>/<%= element.id %>"
			>
				Comprar
			</a>
		</div>
	</div>
</div>
