<form class="my-5" action="/search" method="get">
	<div class="row">
		<div class="col-12">
			<% if (QueryData.query) { %>
			<input
				type="text"
				name="text"
				class="form-control form-control-lg d-inline"
				placeholder="Buscar"
				value="<%= QueryData.query.text %>"
			/>

			<% } else { %>

			<input
				type="text"
				name="text"
				class="form-control form-control-lg d-inline"
				placeholder="Buscar"
			/>
			<% } %>
		</div>
	</div>

	<div class="row mt-3">
		<div class="col-3">
			<div class="mb-3">
				<label for="" class="form-label">Categoria</label>
				<select class="form-select" name="categoryId" id="">
					<% if (QueryData.query.categoryId) { %>

					<option value="">Todo</option>

					<% } else { %>

					<option selected value="">Todo</option>

					<% } %>
					<!--  -->
					<% QueryData.filters.categories.forEach(element => { %>
					<!--  -->
					<% if (QueryData.query.categoryId == element.id) { %>
					<option selected value="<%= element.id %>">
						<%= element.name %>
					</option>

					<% } else { %>

					<option value="<%= element.id %>"><%= element.name %></option>
					<% } %>
					<!--  -->
					<% }) %>
				</select>
			</div>
		</div>

		<div class="col-3">
			<div class="mb-3">
				<label for="" class="form-label">Talla</label>
				<select class="form-select" name="size" id="">
					<% if (QueryData.query.size) { %>

					<option value="">Todo</option>

					<% } else { %>

					<option selected value="">Todo</option>

					<% } %>
					<!--  -->
					<% QueryData.filters.size.forEach(element => { %>
					<!--  -->
					<% if (QueryData.query.size == element) { %>
					<option selected value="<%= element %>"><%= element %></option>

					<% } else { %>

					<option value="<%= element %>"><%= element %></option>

					<% } %>
					<!--  -->
					<% }) %>
				</select>
			</div>
		</div>

		<div class="col-3">
			<div class="mb-3">
				<label for="" class="form-label">Marca</label>
				<select class="form-select" name="brand" id="">
					<% if (QueryData.query.brand) { %>

					<option value="">Todo</option>

					<% } else { %>

					<option selected value="">Todo</option>

					<% } %>
					<!--  -->
					<% QueryData.filters.brand.forEach(element => { %>
					<!--  -->
					<% if (QueryData.query.brand == element) { %>
					<option selected value="<%= element %>"><%= element %></option>

					<% } else { %>

					<option value="<%= element %>"><%= element %></option>

					<% } %>
					<!--  -->
					<% }) %>
				</select>
			</div>
		</div>

		<div class="col-3">
			<div class="mb-3">
				<label for="" class="form-label">Calificación</label>
				<select class="form-select" name="ratingOrder" id="">
					<% if (QueryData.query.ratingOrder) { %>

					<option value="">Todas</option>

					<!--  -->

					<% if (QueryData.query.ratingOrder === "ASC") { %>

					<option value="DESC">Descendente</option>
					<option selected value="ASC">Ascendente</option>

					<% } else { %>

					<option selected value="DESC">Descendente</option>
					<option value="ASC">Ascendente</option>

					<% } %>
					<!--  -->

					<% } else { %>

					<option selected value="">Todo</option>
					<option value="DESC">Descendente</option>
					<option value="ASC">Ascendente</option>

					<% } %>

					<!--  -->
				</select>
			</div>
		</div>
	</div>

	<div class="row justify-content-center align-items-center g-2">
		<div class="col-12">
			<input
				type="submit"
				class="btn btn-primary btn-lg w-100"
				value="Buscar"
			/>
		</div>
	</div>
</form>
